PORT=8080
SPRING_R2DBC_URL=r2dbc:postgresql://user:password@localhost:5432/dbname
SPRING_R2DBC_USERNAME=user
SPRING_R2DBC_PASSWORD=password
SQL_INIT_MODE=always
SERVICES_ACADEMIC_URL=http://localhost:8082
SERVICES_STUDENT_URL=http://localhost:8083
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=86400000
APP_FRONTEND_URL=http://localhost:4200
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=edunova1231@gmail.com
MAIL_PASSWORD=your_google_app_password_without_spaces
MAIL_FROM=EduNova <edunova1231@gmail.com>
